{Header}
<body>    
    {SectionHeader}
    <main class="container mb-5"> 
    {Navigation}
    <nav class="navbar navbar-expand-md navbar-blue shadow-sm mt-4 mb-4 rounded-3">
        <div class="container">
            <ul class="nav nav-pills flex-wrap gap-2 justify-content-center">                  
                 <li class="nav-item"><a class="nav-link" href="#">... </a></li>
            </ul>
        </div>
    </nav>
    <section id="restore" class="card card-blue mb-4 shadow-sm">
        <div class="card-body">
            <h2 class="card-title text-blue-dark h6">1. ...</h2>
            <pre><code class="language-bash">
            </code></pre>
        </div>
    </section>
    {Ressources}   
    {Footer}
    </main>
    {BtnTop}
    {JSSection}
</body>
</html>